= form_for @betum do |f|
  -if @betum.errors.any?
    #error_explanation
      oops, we had some errors:
      %br
      - @betum.errors.full_messages.each do |msg|
        = msg
        %br

  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
